[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"

[packages]
passlib = "*"
SQLAlchemy = "*"
Flask = "*"
flask-httpauth = "*"
"oauth2client" = "*"
requests = "*"
"pep8" = "*"
python-dotenv = "*"
pyjwt = "*"
