[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]



[requires]

python_version = "2.7"


[packages]

passlib = "*"
sqlalchemy = "*"
flask = "*"
flask-httpauth = "*"
"oauth2client" = "*"
requests = "*"
"pep8" = "*"
