<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="flash">
    {% for message in messages %}
    <li class="flash"> <strong> {{ message }} </strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for res in restaurants %}

<div>

<h3><a href="{{url_for('restaurantMenu', restaurant_id=res.res_id)}}">{{res.name}}</a></h3>

</div>

{% endfor %}
</body>

</html>
