<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Catalog - Categories</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
<body >
<div class='container'>
<h1>Categories</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li> <strong> <span class="flash">{{ message }}</span> </strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div><h4><a href="{{url_for('newCategory')}}">Create a new category</a></h4></div>

{% for cat in categories %}

<div>

<!-- <p>{{cat.name}} --- {{cat.id}}</p> -->
<h3><a href="{{url_for('category', cat_id=cat.id)}}">{{cat.name}}</a></h3>

</div>

{% endfor %}

<!-- end of bootstrap container -->
</div> 
</body>

</html>
