<html>
        <head>
                <title>Catalog - Delete Category</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
<body>
<h1> Delete Category </h1>

<form action="{{url_for('deleteCategory', cat_id=category.id)}}" method = 'POST'>

<p>Are you sure you want to delete:</p>

<p>{{category.name}}</p>

<input type='submit' name='delete' value='Delete'>
<input type='submit' name='delete' value='Cancel'>


</form>

</body>
</html>
