<html>
        <head>
                <title>Catalog - Edit Category</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>

<body>

<h1> Edit Category: {{category.name}} </h1>

<form action="{{url_for('editCategory', cat_id=category.id)}}" method = 'POST'>

<p>Name:</p>

<input type='text' size='30' name='name' value="{{category.name}}">

<input type='submit' value='Save'>

<a href="{{url_for('category', cat_id=category.id)}}">Cancel</a>

</form>

</body>
</html>