<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

<h1> Edit Restaurant {{restaurant.name}} </h1>

<form action="{{url_for('editRestaurant', restaurant_id=restaurant.res_id, )}}" method = 'POST'>

<p>Name:</p>

<input type='text' size='30' name='name' value="{{restaurant.name}}">

<p>Category:</p>

{% for cat in categories %}
    {% if cat.category_id == restaurant.category_id %}
        <input type='radio' size='10' name='option' value={{cat.category_id}} checked >{{cat.category}}</input><br>
    {% else %}
        <input type='radio' size='10' name='option' value={{cat.category_id}}>{{cat.category}}</input><br>
    {% endif %}
{%endfor%}
<input type='submit' value='Update'>
<a href={{url_for('restaurantMenu', restaurant_id=restaurant.res_id)}}>Cancel</a>

</form>

</body>
</html>