{% extends "main.html" %}
{% block title %}Login Page{% endblock %}

{% block head %}
{{ super() }}
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}

{% block pageheader %}Login options{% endblock %}

{% block content %}
{{ super() }}
    <div id="g_id_onload"
        data-client_id="{{googOAuthClientId}}"
        data-login_uri="http://localhost:5000/login"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>



    

<!-- custom login form -->
<div id="customLoginForm">
<h3>Login with an account</h3>

    <form  action="{{url_for('showLogin', username=username, password=password, email=email )}}" method='POST' >
        <input name=state type=hidden value="{{STATE}}">

        <p>
            User name or email address: <br />
            <input type='text' size='30' name='username' value="">
        </p>

        <p>
            Password: <br />
            <input type='password' size='10' name='password' value="">
        </p>
        
        <input type='submit' value='Login'>

    </form>
</div>
{% endblock %}
